{
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": false,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-optional-chaining",
        ["transform-remove-console", { "exclude": ["error", "warn"] }]
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                },
                "corejs": "3",
                "useBuiltIns": "usage",
                "modules": "cjs"
            }
        ],
        "@babel/react"
    ],
    "env": {
        "production": {
            "plugins": [["transform-remove-console", { "exclude": ["error", "warn"] }]]
        }
    }
}
