.image-card {
    position: relative;
    display: inline-block;
    // border-radius: 50%;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;

        background-color: rgba(255, 255, 255, 0.5); /* Màu sáng khi hover */
        border: 2px solid #ffffff;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        pointer-events: none;
    }
    &:hover::before {
        opacity: 1;
    }

    .wrapper {
        overflow: hidden;
        display: block;

        height: auto;
        transition: filter 0.3s ease-in-out;
    }

    &:hover .wrapper {
        filter: brightness(1.3); /* Tăng độ sáng khi hover */
    }
}
