.introduction {
    --side-width: 287px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 404px;

    // border-radius: 0.45rem;
    border-radius: var(--basic-border-radius);

    .left,
    .right {
        display: flex;
        height: 100%;
    }

    .left {
        padding: 16px 6px;
        width: var(--side-width);
        flex: 1;
        flex-direction: column;
        height: 404px;

        .sidebar {
            height: 100%;
        }
        .ps-sidebar-container {
            height: 100%;
        }
    }
    .right {
        padding: 16px 32px 32px 16px;
        width: calc(100% - var(--side-width));
    }
    .divider-vertical {
        width: 1px;
        height: max(10px, 404px);
    }
}
