.detail-student-page {
    // display: flex;
    // flex-direction: column;

    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

    .header {
        display: block;
        font-family: inherit;

        .cover-photo {
        }
        .edit-student {
            display: flex;

            align-items: center;

            font-family: inherit;

            .avatar {
                position: relative;
                margin-right: 20px;
                .image {
                    height: 168px;
                    width: 168px;
                    cursor: pointer;
                    border-radius: 50%;
                }
                .upload-icon {
                    position: absolute;
                    bottom: 25px;
                    right: 25px;
                    transform: translate(50%, 50%);
                    z-index: 2;
                    cursor: pointer;
                    border-radius: 50%;
                }
            }
            .contact-student {
                display: block;
                flex-grow: 1;
                height: 100%;
                align-self: center;
                .name {
                    font-size: 3rem;
                }
                .email {
                    font-size: 2rem;
                }
            }

            .action-icons {
                display: flex;
                height: 100%;
                font-size: 1rem;
                .add-lesson-action,
                .edit-student-action {
                    padding: 6px;
                    margin: 5px;
                    cursor: pointer;
                    border-radius: 5px;
                }
            }
        }
    }

    .content {
        height: max(404px, 100%);
        margin-top: 20px;
    }
}

.lesson-student-page {
    display: flex;

    flex-wrap: wrap;
    --lesson-item-margin-right: 20px;
    .lesson-item {
        margin-right: var(--lesson-item-margin-right);
        border-radius: var(--basic-border-radius);
        padding: 10px;
        margin-bottom: 20px;
        height: max-content;
        width: calc(25% - var(--lesson-item-margin-right));

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: grey;
            .topic {
                font-size: 16px;
                font-weight: 500;
            }
        }

        .bottom {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;

            .featureChart {
                width: 100px;
                height: 100px;
                font-size: 4rem;
            }
            .title {
                font-weight: 500;
            }
            .amount {
                font-size: 30px;
            }
            .summary {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .item {
                    .item-title {
                        font-size: 14px;
                        color: gray;
                    }
                    .item-result {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        font-size: 14px;

                        &.positive {
                            color: green;
                        }

                        &.negative {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}
