// user-layout
.user-layout {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

    .header {
        display: block;
        font-family: inherit;

        .cover-photo {
        }
        .edit-student {
            display: flex;

            align-items: center;

            font-family: inherit;

            .avatar {
                position: relative;
                margin-right: 20px;
                .image {
                    height: 168px;
                    width: 168px;
                    cursor: pointer;
                    border-radius: 50%;
                }
                .upload-icon {
                    position: absolute;
                    bottom: 25px;
                    right: 25px;
                    transform: translate(50%, 50%);
                    z-index: 2;
                    cursor: pointer;
                    border-radius: 50%;
                }
            }
            .contact-student {
                display: block;
                flex-grow: 1;
                height: 100%;
                align-self: center;
                .name {
                    font-size: 3rem;
                }
                .email {
                    font-size: 2rem;
                }
            }

            .action-icons {
                display: flex;
                height: 100%;
                font-size: 1rem;
                .add-lesson-action,
                .edit-student-action {
                    padding: 10px;
                    margin: 5px;
                    cursor: pointer;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .content {
        height: max(404px, 100%);
        margin-top: 20px;
    }
}

.introduction-user-layout {
    --side-width: 287px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 404px;

    // border-radius: 0.45rem;
    border-radius: var(--basic-border-radius);

    .left,
    .right {
        display: flex;
        height: 100%;
    }

    .left {
        padding: 16px 6px;
        width: var(--side-width);
        flex: 1;
        flex-direction: column;
        height: 404px;

        .sidebar {
            height: 100%;
        }
        .ps-sidebar-container {
            height: 100%;
        }
    }
    .right {
        padding: 16px 32px 32px 16px;
        width: calc(100% - var(--side-width));
    }
    .divider-vertical {
        width: 1px;
        height: max(10px, 404px);
    }
}
