// app layout
.app-layout {
    display: flex;

    height: 100%;
    width: 100%;

    .side-bar {
        height: 100%;
    }

    .right {
        height: max-content;

        width: 100%;
        .top-bar {
            position: sticky;
            top: 0;
            z-index: 999;

            &.sticked {
                padding-left: 10px;
            }
        }

        .content {
            position: relative;
            padding: 20px;
        }
    }
}
