.datatable {
    padding: 0px 10px;
    width: 100%;
    .table-title {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.05) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

        padding: 10px;
        background-color: white;

        .title {
            font-size: 20px;
            font-weight: bold;
        }
        .action {
            padding-right: 20px;
            display: flex;
            .assign-group-users,
            .assign-user {
                cursor: pointer;
                max-width: 32px;
                min-width: 32px;
            }
        }
    }

    .table-information {
        width: 100%;

        .cellWithId {
        }
        .cellWithUser {
            .cellWithImg {
                display: flex;
                align-items: center;

                .cellImg {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 20px;
                }

                .cellInfo {
                    display: block;
                    .cellName {
                        font-weight: bold;
                    }

                    .cellEmail {
                        color: rgb(160, 160, 160);
                        font-size: 16px;
                    }
                }
            }
        }

        .cellWithStatus {
            padding: 5px;
            border-radius: 5px;
            text-align: center;

            &.active {
                background-color: rgba(0, 128, 0, 0.1);
                columns: green;
            }
            &.pending {
                background-color: rgba(255, 217, 0, 0.05);
                color: goldenrod;
            }
            &.inactive {
                background-color: rgba(255, 51, 0, 0.1);
                color: rgb(209, 49, 28);
            }
        }

        .cellWithAction {
            display: flex;
            align-items: center;
            gap: 15px;
            // min-width: max-content;
            // right: 0;

            .viewButton,
            .deleteButton {
                cursor: pointer;
            }

            .viewButton {
                padding: 2px 5px;
                border-radius: 5px;
                color: darkblue;
                border: 1px dotted rgba(0, 0, 139, 0.596);
            }

            .deleteButton {
                padding: 2px 5px;
                border-radius: 5px;
                color: red;
                border: 1px dotted rgba(0, 0, 139, 0.596);
            }
        }
    }
}
