.lesson-row {
    --dt-outline-variant: #c7c7c7;

    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    border-bottom: 1px solid transparent;
    border-bottom-color: var(--dt-outline-variant, rgb(218, 220, 224));

    .check {
        width: 5%;
    }
    .id {
        width: 10%;
    }
    .certificate {
        width: 20%;
    }
    .title {
        width: 30%;
    }
    .subTitle {
        width: 20%;
    }
    .actions {
        display: flex;
        width: 15%;
        .icon {
            cursor: pointer;
            margin-right: 15px;
        }
    }
}
